.cart-dropdown {
  position: absolute;
  width: 240px;
  max-height: 350px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scrollbar-width: none;
    margin-bottom: 10px;
  }

  button {
    margin-top: auto;
  }
}
